<!-- <button (click)="Logout()"></button> -->

<div class="container">
  <div class="row justify-content-md-center mt-5">
      <div class="col-md-3  popup">
      <h3>Unplug for a while?</h3>
      <h6>and face the real world?</h6>
      <button type="button" class="btn btn-secondary" routerLink="exit" data-dismiss="modal"(click)="Logout()">Yes *sigh*</button>
      <a routerLink="tracks"><button type="button" class="btn btn-secondary" (click)="toHome()">No, I'm happy here</button></a>
    </div>
  </div>
  <

</div>