<div class="container">
  <div class="jumbotron">
    <small class="lead">Artè</small>
    <hr class="my-4">
    <p> Arte is music application that connects you with your Spotify account and let you find the right music for every
      moment. </p>
    <p>There are millions of tracks and episodes on Spotify. So whether you’re behind the wheel, working out, partying
      or
      relaxing, the right music or podcast is always at your fingertips. Choose what you want to listen to, or let
      Spotify
      surprise you.</p>
    <p>You can also browse through the collections of friends, artists, and celebrities, or create a radio station and
      just sit back.</p>
    <p class="lead">
      <a class="btn btn-primary btn-md button"
        href="https://community.spotify.com/?_ga=2.71770897.340062563.1575941475-863870673.1575941475" role="button"
        target="_blank">Learn more</a>
    </p>
  </div>
</div>