html, body {
    width: 100%;
}

#login, #loggedin {
    display: block;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

h1{
    font-size: 3rem;
}
small {
    font-size: 2rem;
}
.login {
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
}
.login:hover {
    color: rgba(0,0,0,0.9);
    background-color: white;
}