
.search-container{
    display: flex;
    justify-content: center;
    margin: 100px;
    width: 100%;

  }
  .search{
   margin-top: 2em;
   text-align: center;
  }

  .search-input{
    width:90%;
  }

  .card-box{
    padding: 20px;
  }

  .card-layout{
    max-width: 20rem;
  }
