<div class="container">
  <div class="tablist">
    <div class="row">
      <div class="col-md-6">
        <div class="card text-white bg-dark mb-3">
          <a routerLink="artists">
            <div class="card-header">Search By Artist Name</div>
          </a>
          <div class="card-body">
            <h4 class="card-title">Get access to your favorite artists</h4>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-white bg-dark mb-3">
          <a routerLink="tracks">
            <div class="card-header">Search By Track</div>
          </a>
          <div class="card-body">
            <h4 class="card-title">Get access to your favorite tracks</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card text-white bg-dark mb-3">
          <a routerLink="albums">
            <div class="card-header">Search By Album Name</div>
          </a>
          <div class="card-body">
            <h4 class="card-title">Get access to your favorite albums</h4>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-white bg-dark mb-3">
          <a routerLink="playlist">
            <div class="card-header">View Playlist</div>
          </a>
          <div class="card-body">
            <h4 class="card-title">Create your own playlist</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>